<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="calculation" translate="label" type="text" sortOrder="320" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Calculation</label>
            <tab>lindenvalley</tab>
            <resource>Lindenvalley_Calculation::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="is_enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Is Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="config" translate="label" type="hidden" sortOrder="20" showInDefault="0" showInWebsite="0" showInStore="0">
                    <label>Configuration</label>
                </field>
                <field id="europe_countries" translate="label" type="hidden" sortOrder="30" showInDefault="0" showInWebsite="0" showInStore="0">
                    <label>Europe Countries</label>
                </field>
                <field id="can_round" translate="label" type="hidden" sortOrder="40" showInDefault="0" showInWebsite="0" showInStore="0">
                    <label>Can Round</label>
                </field>
                <field id="cron_expression" translate="label" type="hidden" sortOrder="50" showInDefault="0" showInWebsite="0" showInStore="0">
                    <label>Cron Expression</label>
                </field>
            </group>
        </section>
    </system>
</config>
